services:
  bot:
    build:
      context: .
      dockerfile: dev.Dockerfile
    volumes:
      - $PWD:/home/node
    restart: always
    networks:
      - bdd
    env_file:
      - .env
      - .env.tower
    depends_on:
      - mongodb
  mongodb:
    image: mongo:7.0
    restart: always
    volumes:
      - /opt/cds:/data/db
    networks:
      - bdd

networks:
  bdd:
    driver: bridge
